.buttons,
#profile-button {
  font-family: "Advent Pro", sans-serif;
  background: none;
  border: none;
  color: var(--text-main);
  font-size: 1.1em;
  padding: 8px 16px;
  transition: all 0.3s ease;

  &:hover {
    color: var(--mauve);
    cursor: pointer;
    transform: translateY(-3px);
  }
}

.primary-btn {
  font-family: "Advent Pro", sans-serif;
  background: transparent;
  border: 2px solid var(--text-main);
  color: var(--text-main);
  padding: 12px 24px;
  font-size: 1.2em;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: var(--text-main);
    color: var(--dark-amethyst);
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
  }
}
